@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .validation-error {
    @apply text-red-500 text-xs italic mt-1;
  }

  .go-back-btn {
    @apply uppercase inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none;
  }

  .primary-btn {
    @apply bg-gradient-to-r 

    from-sky-500 
    to-sky-300
     flex justify-center  duration-150 ease-in-out font-semibold hover:bg-sky-900 inline-flex items-center leading-6 px-4 py-2 rounded-md shadow text-sm text-white transition;
  }

  .table-heading {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
  }

  .table-data {
    @apply px-6 py-4 whitespace-nowrap text-sm text-gray-500;
  }

  .form-input {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm;
  }

  .form-select {
    @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md;
  }

  .form-label {
    @apply block text-sm font-medium text-gray-700 dark:text-white;
  }

  .snack-enter-active,
  .snack-leave-active {
    @apply transition duration-500 ease-in-out;
  }

  .snack-enter-from {
    @apply transform -translate-y-24;
  }

  .snack-leave-to {
    @apply transform -translate-y-24;
  }

  .drop-down-item {
    @apply text-gray-700 block px-4 py-2 text-sm;
  }

  .count-up {
    @apply px-4 py-2 shadow-lg bg-blue-400 rounded text-white;
  }

  .blogs-container > :first-child {
      @apply  rounded-lg shadow-lg px-4 text-white bg-gradient-to-r to-purple-200 from-sky-500;
  }

  .blogs-container > :first-child > a  > p{
    @apply text-white;
  }
}

.blogs-container {
  display: grid;
  gap:2rem;
  grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
}



.blog-button-group {
  display: grid;
  grid-template-columns: 1fr auto;
}

.blog-buttons{
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-column-gap: 0.7rem;
}

@media (min-width: 768px) {

  .blogs-container > :first-child {
    grid-column: span 2;
  }

  .palettes {
    min-width: 500px;
    min-height: 20rem;
  }

}

@media (min-width: 1024px) {

}

.resume-header{

  display:grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-column-gap: 1.5rem;

}

.resume-header-divider {
  width: 0.16rem;
}

.resume-content-header{
  display:grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.resume-content{
  display:grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-column-gap: 1.5rem;
}

.resume-content-divider{
  height: 0.16rem;
}

.resume-skill{
  display:grid;
  gap:2rem;
  grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
}


@media print {
  .resume-header .resume-header-divider {
    background-color: #9ca3af !important;
    -webkit-print-color-adjust: exact;
  }
  .resume-content-header .resume-content-divider{
    background-color: #d1d5db !important;
    -webkit-print-color-adjust: exact;
  }
  .skill-icon{
    background-color: #4ade80 !important;
    -webkit-print-color-adjust: exact;
  }

  div {page-break-inside: avoid;}

}